<?xml version="1.0"?>
<config>
    <modules>
        <Itr_ShippingInsurance>
            <version>1.0.0.0</version>
        </Itr_ShippingInsurance>
    </modules>
    <global>
        <blocks>
            <shippinginsurance>
                <class>Itr_ShippingInsurance_Block</class>
            </shippinginsurance>
        </blocks>
        <models>
            <shippinginsurance>
                <class>Itr_ShippingInsurance_Model</class>
            </shippinginsurance>
        </models>
        <helpers>
            <itr_shippinginsurance>
                <class>Itr_ShippingInsurance_Helper</class>
            </itr_shippinginsurance>
        </helpers>
        <resources>
            <itr_shippinginsurance_setup>
                <setup>
                    <module>Itr_ShippingInsurance</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </itr_shippinginsurance_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_address>
                <shipping_insurance_applied>
                    <to_order>*</to_order>
                </shipping_insurance_applied>
                <shipping_insurance_fee>
                    <to_order>*</to_order>
                </shipping_insurance_fee>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <insurancefee translate="title">
                    <title>Insurance Fee</title>
                    <source_field>subtotal</source_field>
                    <model>Itr_ShippingInsurance_Model_Sales_Order_Pdf_Total_Insurancefee</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>900</sort_order>
                </insurancefee>
            </totals>
        </pdf>
        <sales>
            <quote>
                <totals>
                    <itr_shippinginsurance>
                        <class>shippinginsurance/sales_quote_address_total_insurancefee</class>
                    </itr_shippinginsurance>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <itr_shippinginsurance>
                        <class>shippinginsurance/sales_order_invoice_total_insurancefee</class>
                    </itr_shippinginsurance>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <itr_shippinginsurance>
                        <class>shippinginsurance/sales_order_creditmemo_total_insurancefee</class>
                    </itr_shippinginsurance>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <shippinginsurance>
                    <file>shippinginsurance.xml</file>
                </shippinginsurance>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <save_shipping_method>
                        <type>singleton</type>
                        <class>shippinginsurance/observer</class>
                        <method>checkoutControllerOnepageSaveShippingMethod</method>
                    </save_shipping_method>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
        <layout>
            <updates>
                <shippinginsurance>
                    <file>shippinginsurance.xml</file>
                </shippinginsurance>
            </updates>
        </layout>
    </frontend>
    <default>
        <carriers>
            <flatrate>
                <insurance_enabled>0</insurance_enabled>
                <insurance_rate_type>0</insurance_rate_type>
                <insurance_rate_value>0.00</insurance_rate_value>
            </flatrate>
            <freeshipping>
                <insurance_enabled>0</insurance_enabled>
                <insurance_rate_type>0</insurance_rate_type>
                <insurance_rate_value>0.00</insurance_rate_value>
            </freeshipping>
            <tablerate>
                <insurance_enabled>0</insurance_enabled>
                <insurance_rate_type>0</insurance_rate_type>
                <insurance_rate_value>0.00</insurance_rate_value>
            </tablerate>
            <dhl>
                <insurance_enabled>0</insurance_enabled>
                <insurance_rate_type>0</insurance_rate_type>
                <insurance_rate_value>0.00</insurance_rate_value>
            </dhl>
            <fedex>
                <insurance_enabled>0</insurance_enabled>
                <insurance_rate_type>0</insurance_rate_type>
                <insurance_rate_value>0.00</insurance_rate_value>
            </fedex>
            <ups>
                <insurance_enabled>0</insurance_enabled>
                <insurance_rate_type>0</insurance_rate_type>
                <insurance_rate_value>0.00</insurance_rate_value>
            </ups>
            <usps>
                <insurance_enabled>0</insurance_enabled>
                <insurance_rate_type>0</insurance_rate_type>
                <insurance_rate_value>0.00</insurance_rate_value>
            </usps>
            <dhlint>
                <insurance_enabled>0</insurance_enabled>
                <insurance_rate_type>0</insurance_rate_type>
                <insurance_rate_value>0.00</insurance_rate_value>
            </dhlint>
        </carriers>
    </default>
</config>
